<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frameProcessTop</key>
	<string>entityWithStructure</string>
	<key>gramAgainstScope</key>
	<string>themeUntilPhase</string>
	<key>mediaAsCommand</key>
	<string>symmetricRequestForce</string>
	<key>observerWorkTail</key>
	<string>resilientAssetCount</string>
	<key>operationForTask</key>
	<string>modelEnvironmentCount</string>
	<key>skirtPhaseEdge</key>
	<string>persistentFeaturePressure</string>
	<key>stampBufferTension</key>
	<string>controllerDecoratorStyle</string>
	<key>typicalTextfieldType</key>
	<string>workflowWithoutLevel</string>
</dict>
</plist>
