<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessibleChartState</key>
	<string>observerTierHue</string>
	<key>customizedFutureType</key>
	<string>errorInterpreterVisible</string>
	<key>graphFromObserver</key>
	<string>beginnerBlocStatus</string>
	<key>localizationSinceSingleton</key>
	<string>resizableContainerKind</string>
	<key>musicThanBridge</key>
	<string>currentLabelHue</string>
	<key>navigatorActionPadding</key>
	<string>mobileCapacitiesOpacity</string>
	<key>permanentRowContrast</key>
	<string>blocViaState</string>
	<key>radioStrategyDuration</key>
	<string>semanticCoordinatorMode</string>
	<key>storePerCommand</key>
	<string>sampleAndCycle</string>
</dict>
</plist>
