<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>missedCallbackKind</key>
	<string>constRouteTop</string>
	<key>missionDecoratorShade</key>
	<string>nibParamContrast</string>
	<key>sceneFromFacade</key>
	<string>cardThanProxy</string>
	<key>zoneProxyDuration</key>
	<string>queryLikeStructure</string>
</dict>
</plist>
