<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>customRouteContrast</key>
	<string>consumerTypeLeft</string>
	<key>grainTierDepth</key>
	<string>pointStructureCount</string>
	<key>labelPrototypeDepth</key>
	<string>queueWithoutFlyweight</string>
	<key>layoutSinceStrategy</key>
	<string>expandedOperationTop</string>
	<key>sessionFacadeTension</key>
	<string>nextKernelCount</string>
	<key>tweenObserverDelay</key>
	<string>checkboxFromShape</string>
</dict>
</plist>
