<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>awaitWithChain</key>
	<string>resolverActivityOffset</string>
	<key>blocForCommand</key>
	<string>prevBinaryMomentum</string>
	<key>effectBufferState</key>
	<string>disparateUsageSkewx</string>
	<key>factorySystemCount</key>
	<string>chapterThanCommand</string>
	<key>grainVisitorVisibility</key>
	<string>routeExceptShape</string>
	<key>multiNodeInterval</key>
	<string>immediateBehaviorInterval</string>
	<key>semanticRadioTag</key>
	<string>handlerParamPressure</string>
</dict>
</plist>
