<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>assetBesideLevel</key>
	<string>storageWithoutPhase</string>
	<key>completionViaShape</key>
	<string>mediumAllocatorStyle</string>
	<key>difficultPromiseOffset</key>
	<string>momentumFromVisitor</string>
	<key>integerFormFlags</key>
	<string>projectAmongMethod</string>
	<key>keyTechniqueVisibility</key>
	<string>reusableNodeSaturation</string>
	<key>priorityAroundParam</key>
	<string>semanticProviderIndex</string>
	<key>sharedDescriptorVisibility</key>
	<string>plateInFlyweight</string>
	<key>significantSceneInteraction</key>
	<string>contractionThroughScope</string>
	<key>staticTechniqueCount</key>
	<string>iterativeGesturedetectorSaturation</string>
	<key>uniqueAssetSize</key>
	<string>mobilePerPattern</string>
</dict>
</plist>
