<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>constraintLevelHead</key>
	<string>interactiveUtilDirection</string>
	<key>curveModeVisible</key>
	<string>featureFacadeContrast</string>
	<key>durationWithFacade</key>
	<string>constraintTaskMargin</string>
	<key>effectNearFlyweight</key>
	<string>sineShapeMargin</string>
	<key>immutableLoopDirection</key>
	<string>kernelWorkForce</string>
	<key>memberOutsideScope</key>
	<string>responsePhaseRotation</string>
	<key>priorityUntilScope</key>
	<string>effectStructureRate</string>
</dict>
</plist>
