<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activityStageCount</key>
	<string>transformerAwayPhase</string>
	<key>backwardMovementStyle</key>
	<string>heapPrototypeOrientation</string>
	<key>bufferProxyStatus</key>
	<string>projectionForEnvironment</string>
	<key>certificateOfForm</key>
	<string>characterOperationCenter</string>
	<key>controllerTempleRate</key>
	<string>captionAsFlyweight</string>
	<key>fusedDocumentTag</key>
	<string>cartesianCoordinatorDelay</string>
	<key>inheritedBlocSkewx</key>
	<string>futureBufferBorder</string>
	<key>responseLikeLevel</key>
	<string>animationFlyweightSpacing</string>
</dict>
</plist>
