<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>gateStructureVisible</key>
	<string>protocolSingletonBorder</string>
	<key>gemFacadeColor</key>
	<string>intensityFunctionVelocity</string>
	<key>hierarchicalLayoutBrightness</key>
	<string>accessoryEnvironmentIndex</string>
	<key>interactorAndComposite</key>
	<string>layerOfType</string>
	<key>mediocreActionResponse</key>
	<string>mainAnimationPressure</string>
	<key>repositoryContainJob</key>
	<string>petOrLayer</string>
	<key>subscriptionAndLayer</key>
	<string>intuitiveNodeAlignment</string>
	<key>subtleTransitionOpacity</key>
	<string>equipmentPatternStyle</string>
</dict>
</plist>
