<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animatedcontainerAdapterStatus</key>
	<string>diffableCharacterRotation</string>
	<key>behaviorVisitorDensity</key>
	<string>cosineCommandInteraction</string>
	<key>compositionByFramework</key>
	<string>imperativeOperationTag</string>
	<key>comprehensiveSingletonBottom</key>
	<string>discardedDescriptorTheme</string>
	<key>featureStrategyForce</key>
	<string>modelInCommand</string>
	<key>geometricSampleTheme</key>
	<string>prioritySinceTemple</string>
	<key>interactorAlongStyle</key>
	<string>compositionalGetxMode</string>
	<key>segueVisitorShade</key>
	<string>managerLayerRate</string>
	<key>statelessCubeRotation</key>
	<string>skinCycleVisibility</string>
</dict>
</plist>
