<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>configurationVersusSystem</key>
	<string>intuitiveThreadMargin</string>
	<key>currentDelegateSpacing</key>
	<string>operationDecoratorRate</string>
	<key>handlerOutsideFunction</key>
	<string>plateThanFacade</string>
	<key>invisibleLogarithmVelocity</key>
	<string>errorFacadeCenter</string>
	<key>tweenFacadeColor</key>
	<string>robustMemberName</string>
	<key>variantActivityDirection</key>
	<string>protocolAlongTemple</string>
</dict>
</plist>
