<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>eventAndInterpreter</key>
	<string>discardedAspectratioStyle</string>
	<key>futureByAction</key>
	<string>positionMethodOffset</string>
	<key>injectionParameterOrientation</key>
	<string>tensorSessionFrequency</string>
	<key>publicInterpolationDistance</key>
	<string>numericalMomentumSpeed</string>
	<key>resourceSinceForm</key>
	<string>eagerBuilderValidation</string>
	<key>scaleExceptActivity</key>
	<string>layoutThroughVisitor</string>
	<key>significantContainerType</key>
	<string>multiplicationStrategyHue</string>
	<key>utilSingletonOffset</key>
	<string>modalActivityBorder</string>
</dict>
</plist>
