<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>descriptionSinceLayer</key>
	<string>awaitCycleShape</string>
	<key>indicatorPatternFlags</key>
	<string>keyStoreRotation</string>
	<key>pivotalInteractorColor</key>
	<string>ignoredThreadEdge</string>
	<key>tabviewForStyle</key>
	<string>hashAdapterState</string>
</dict>
</plist>
