<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>controllerExceptObserver</key>
	<string>tweenParamTop</string>
	<key>dedicatedCurveTint</key>
	<string>mediocreMultiplicationMomentum</string>
	<key>entityScopeTop</key>
	<string>techniqueLevelMargin</string>
	<key>lastRouterCount</key>
	<string>menuAdapterColor</string>
	<key>layerContainLevel</key>
	<string>spriteStructureFlags</string>
	<key>nibTierFeedback</key>
	<string>builderDuringNumber</string>
	<key>tangentParameterBorder</key>
	<string>inactiveChannelsStatus</string>
	<key>viewAlongInterpreter</key>
	<string>explicitWidgetColor</string>
</dict>
</plist>
