<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activeToolForce</key>
	<string>memberLayerPressure</string>
	<key>diffableNavigationCoord</key>
	<string>semanticWidgetColor</string>
	<key>diversifiedBrushOrientation</key>
	<string>popupContextCount</string>
	<key>keyCompletionKind</key>
	<string>containerValueSkewy</string>
	<key>managerStateTag</key>
	<string>profileBridgeCoord</string>
	<key>offsetSystemTransparency</key>
	<string>prevContractionVelocity</string>
	<key>smallQueryStyle</key>
	<string>boxshadowThanMediator</string>
	<key>threadAlongCommand</key>
	<string>prismaticDocumentPosition</string>
	<key>uniqueStateShade</key>
	<string>discardedGrainDensity</string>
</dict>
</plist>
