<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>desktopPriorityBehavior</key>
	<string>retainedChallengeCenter</string>
	<key>directlyDecorationBehavior</key>
	<string>blocChainEdge</string>
	<key>durationContextFlags</key>
	<string>functionalReducerResponse</string>
	<key>iconForScope</key>
	<string>interactiveDecorationTheme</string>
	<key>layerTierStyle</key>
	<string>blocOperationAppearance</string>
	<key>nibMementoLeft</key>
	<string>animatedcontainerContainMethod</string>
	<key>sortedLocalizationForce</key>
	<string>custompaintInsideContext</string>
</dict>
</plist>
