<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>channelsParameterDuration</key>
	<string>methodContextOrigin</string>
	<key>directlyPlateBottom</key>
	<string>unactivatedSignMargin</string>
	<key>gradientDespiteState</key>
	<string>graphicByVisitor</string>
	<key>pivotalWorkflowInset</key>
	<string>cursorFromKind</string>
	<key>reactiveCosineIndex</key>
	<string>toolPlatformLocation</string>
	<key>spriteDespiteOperation</key>
	<string>intensityBesideObserver</string>
</dict>
</plist>
