<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>assetVersusVariable</key>
	<string>missedMapDuration</string>
	<key>completerVariableRate</key>
	<string>sessionOutsideJob</string>
	<key>constColumnPadding</key>
	<string>isolateLayerBrightness</string>
	<key>crucialActionKind</key>
	<string>masterScopeHue</string>
	<key>integerByContext</key>
	<string>streamPrototypeSkewy</string>
	<key>layoutAlongAction</key>
	<string>axisVersusJob</string>
	<key>menuAsVariable</key>
	<string>listenerFacadeDelay</string>
	<key>multiBitrateName</key>
	<string>grainAmongMemento</string>
	<key>spineDespiteProcess</key>
	<string>graphicAdapterRotation</string>
</dict>
</plist>
