<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dedicatedStorageSkewy</key>
	<string>aspectOrStrategy</string>
	<key>enabledTickerTail</key>
	<string>monsterAgainstSystem</string>
	<key>equalizationAtPrototype</key>
	<string>specifyResponseFrequency</string>
	<key>frameOrContext</key>
	<string>resolverPlatformFlags</string>
	<key>interactiveNodeMode</key>
	<string>intuitiveNavigatorBrightness</string>
	<key>lastEquipmentDistance</key>
	<string>activatedMethodLeft</string>
	<key>protocolCompositeBottom</key>
	<string>loopBesideBuffer</string>
	<key>rectVarBehavior</key>
	<string>originalAsyncValidation</string>
	<key>referenceCompositeInset</key>
	<string>subpixelTierPosition</string>
</dict>
</plist>
