<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>configurationStyleMomentum</key>
	<string>robustModelVisible</string>
	<key>directlyExpandedHead</key>
	<string>decorationMethodVelocity</string>
	<key>eventPrototypeHead</key>
	<string>substantialRowStyle</string>
	<key>handlerStructureInteraction</key>
	<string>subpixelActivityBottom</string>
	<key>opaqueSpotDensity</key>
	<string>standaloneProgressbarOffset</string>
</dict>
</plist>
