<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bitrateSingletonVisible</key>
	<string>associatedActivitySize</string>
	<key>builderVarVisible</key>
	<string>otherNodeBrightness</string>
	<key>hardEqualizationBrightness</key>
	<string>builderThroughContext</string>
	<key>resilientRemainderDelay</key>
	<string>viewAgainstParam</string>
	<key>sortedSegmentFormat</key>
	<string>sizeUntilAdapter</string>
</dict>
</plist>
