<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>autoGramVelocity</key>
	<string>matrixCommandOrigin</string>
	<key>awaitPlatformFlags</key>
	<string>basicCardInset</string>
	<key>batchInTask</key>
	<string>notifierWithoutForm</string>
	<key>boxAlongFlyweight</key>
	<string>titleInsideAction</string>
	<key>buttonAboutNumber</key>
	<string>layerFlyweightBorder</string>
	<key>containerTaskPadding</key>
	<string>zoneContainJob</string>
	<key>descriptionForValue</key>
	<string>blocWithWork</string>
	<key>positionMediatorStyle</key>
	<string>frameTempleRight</string>
	<key>reducerMementoDepth</key>
	<string>groupBeyondProcess</string>
</dict>
</plist>
