<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>durationExceptMethod</key>
	<string>boxshadowPerParam</string>
	<key>granularTextTail</key>
	<string>widgetOfProxy</string>
	<key>handlerVisitorHead</key>
	<string>notificationScopeDepth</string>
	<key>intermediateSubscriptionMode</key>
	<string>textAndPattern</string>
	<key>invisibleSubscriptionSpeed</key>
	<string>modalWorkLocation</string>
	<key>kernelWithProcess</key>
	<string>otherPointCount</string>
	<key>missedGroupMargin</key>
	<string>richtextTempleTransparency</string>
	<key>stateFromTemple</key>
	<string>completerAsStrategy</string>
	<key>widgetTypeType</key>
	<string>shaderMethodFormat</string>
</dict>
</plist>
