<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>allocatorLayerName</key>
	<string>scrollableDescriptionStyle</string>
	<key>awaitOfVisitor</key>
	<string>sizedboxChainTheme</string>
	<key>explicitSemanticsOrientation</key>
	<string>aspectPatternType</string>
	<key>invisibleAssetCenter</key>
	<string>techniqueActivityTension</string>
	<key>notificationInObserver</key>
	<string>drawerTempleCoord</string>
	<key>radiusOutsideValue</key>
	<string>numericalCellOrigin</string>
	<key>staticNodePressure</key>
	<string>scaleKindSaturation</string>
	<key>tangentBridgeVisibility</key>
	<string>heapWithoutVar</string>
</dict>
</plist>
