<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessoryCompositeColor</key>
	<string>gestureLayerDuration</string>
	<key>iconPerStyle</key>
	<string>themeOrLevel</string>
	<key>metadataAtParameter</key>
	<string>painterValueInteraction</string>
	<key>normSinceStructure</key>
	<string>entropyCompositeHue</string>
	<key>roleSinceForm</key>
	<string>uniformThreadTail</string>
</dict>
</plist>
