<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>binaryActionStyle</key>
	<string>observerDespiteLevel</string>
	<key>containerBufferCount</key>
	<string>agileBaseFlags</string>
	<key>disparateSubpixelFeedback</key>
	<string>binaryFunctionSaturation</string>
	<key>missionLevelTheme</key>
	<string>decorationActionOrigin</string>
	<key>primaryWorkflowState</key>
	<string>currentGrainContrast</string>
	<key>sliderCycleSkewx</key>
	<string>parallelIntensityTag</string>
	<key>viewOrBridge</key>
	<string>awaitTierTheme</string>
</dict>
</plist>
