<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>canvasFunctionColor</key>
	<string>activeResourceAcceleration</string>
	<key>imperativeMediaqueryBound</key>
	<string>statelessSceneBottom</string>
	<key>nibAlongPlatform</key>
	<string>interfaceLikeObserver</string>
	<key>optimizerAsMemento</key>
	<string>graphicNearWork</string>
	<key>positionOfVisitor</key>
	<string>coordinatorViaActivity</string>
	<key>tabbarForPlatform</key>
	<string>storyboardFormInterval</string>
</dict>
</plist>
