<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>awaitTierStatus</key>
	<string>heapOrPrototype</string>
	<key>decorationByActivity</key>
	<string>streamBeyondBuffer</string>
	<key>flexibleExceptionFrequency</key>
	<string>fixedDimensionFeedback</string>
	<key>geometricButtonPadding</key>
	<string>metadataForMode</string>
	<key>inheritedProgressbarBound</key>
	<string>hierarchicalTabviewAlignment</string>
	<key>sinkLevelTail</key>
	<string>concretePopupEdge</string>
	<key>subscriptionNearMethod</key>
	<string>sliderLayerKind</string>
	<key>swiftDuringSingleton</key>
	<string>collectionInsideStyle</string>
	<key>symmetricLossOrientation</key>
	<string>cycleAgainstTemple</string>
	<key>unactivatedCertificateHue</key>
	<string>touchNumberContrast</string>
</dict>
</plist>
