<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>captionKindPressure</key>
	<string>completionPerAction</string>
	<key>functionalToolDuration</key>
	<string>pointAgainstPhase</string>
	<key>intermediateGrainLocation</key>
	<string>symmetricBaseLeft</string>
	<key>observerVariableOpacity</key>
	<string>roleObserverIndex</string>
	<key>petIncludeScope</key>
	<string>autoIntensityFormat</string>
	<key>queryWorkTag</key>
	<string>positionWithMethod</string>
	<key>secondGridHue</key>
	<string>segmentAndDecorator</string>
</dict>
</plist>
