<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asyncRequestTint</key>
	<string>materialIconInterval</string>
	<key>buttonExceptVisitor</key>
	<string>webButtonMomentum</string>
	<key>documentStageOffset</key>
	<string>metadataExceptWork</string>
	<key>inkwellAgainstValue</key>
	<string>offsetAmongProcess</string>
</dict>
</plist>
