<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animatedChartOpacity</key>
	<string>substantialCompletionRight</string>
	<key>constOperationInset</key>
	<string>promiseThanMode</string>
	<key>stampChainHue</key>
	<string>significantStateRight</string>
	<key>synchronousInteractorPressure</key>
	<string>characterFromStage</string>
	<key>webSinkOrigin</key>
	<string>iterativeIconInteraction</string>
</dict>
</plist>
