<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>commonTechniqueLocation</key>
	<string>originalResponseSkewy</string>
	<key>cubitForComposite</key>
	<string>semanticTaskShade</string>
	<key>mediumCubitInset</key>
	<string>gesturedetectorAdapterMode</string>
	<key>specifierVariableBrightness</key>
	<string>metadataStateTension</string>
	<key>viewActivityPosition</key>
	<string>bitrateLikeLevel</string>
</dict>
</plist>
