<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>capacitiesProxyResponse</key>
	<string>directAllocatorRight</string>
	<key>chartContainTask</key>
	<string>greatControllerFeedback</string>
	<key>discardedStateTint</key>
	<string>movementPhaseTail</string>
	<key>expandedDespiteProxy</key>
	<string>topicAlongAdapter</string>
	<key>modalDespiteAdapter</key>
	<string>tensorLabelColor</string>
	<key>otherPetResponse</key>
	<string>constraintLevelShape</string>
	<key>subscriptionOrVar</key>
	<string>managerThroughScope</string>
	<key>widgetOutsideFacade</key>
	<string>isolateSinceFramework</string>
</dict>
</plist>
